# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

docs/
dist/CNAME
dist/favicon.ico
dist/index.html
dist/manifest.json
dist/resource.json
dist/robots.txt
dist/vite.svg
dist/assets/footer_bg-ec_h6-KB.svg
dist/assets/index-BsCMqCP-.js
dist/assets/index-R973WK8S.css
dist/data/beginner.json
dist/data/bitcoin.json
dist/data/lightning.json
dist/data/new-things.json
dist/data/tagList.json
dist/static/img-btc/btc.png
dist/static/img-btc/favicon.ico
dist/static/img-btc/Community/Bitcoin Stack Exchange.png
dist/static/img-btc/Community/btctalk.png
dist/static/img-btc/Community/Facebook-logo.png
dist/static/img-btc/Community/ircchat.jpeg
dist/static/img-btc/Community/mailman.jpg
dist/static/img-btc/Community/Mastodon.png
dist/static/img-btc/Community/reddit.png
dist/static/img-btc/Community/slack.png
dist/static/img-btc/Community/stackernews.png
dist/static/img-btc/EducationalResources/21Lectures.png
dist/static/img-btc/EducationalResources/Bitcoin Information &amp; Educational Resources.jpg
dist/static/img-btc/EducationalResources/Bitcoin Only.png
dist/static/img-btc/EducationalResources/Bitcoin Wiki.png
dist/static/img-btc/EducationalResources/coinspice.png
dist/static/img-btc/EducationalResources/Goodbit.jpeg
dist/static/img-btc/EducationalResources/IamSatoshi.png
dist/static/img-btc/EducationalResources/Khan Academy.png
dist/static/img-btc/EducationalResources/masterbitcoin.jpg
dist/static/img-btc/EducationalResources/Nakamoto Studies Institute.jpg
dist/static/img-btc/EducationalResources/Satoshi Nakamoto Institute.png
dist/static/img-btc/EducationalResources/Scalingbitcoin.png
dist/static/img-btc/EducationalResources/video.png
dist/static/img-btc/EducationalResources/WTF Happened In 1971_.jpg
dist/static/img-btc/Merchants/Azte.co.png
dist/static/img-btc/Merchants/Bitcoin ATM Map.jpg
dist/static/img-btc/Merchants/BitcoinWide.png
dist/static/img-btc/Merchants/Buy Bitcoin Worldwide.jpeg
dist/static/img-btc/Merchants/Coinmap.jpg
dist/static/img-btc/Merchants/LocalBitcoin.png
dist/static/img-btc/Merchants/Opennode.png
dist/static/img-btc/Merchants/Spendabit.png
dist/static/img-btc/Statistics/Bitbo.jpg
dist/static/img-btc/Statistics/Bitcoin Charts.png
dist/static/img-btc/Statistics/Bitcoin Difficulty Estimator.png
dist/static/img-btc/Statistics/Bitcoin Dominance.png
dist/static/img-btc/Statistics/Bitcoin Trade Volume.png
dist/static/img-btc/Statistics/Bitcoin Visuals.png
dist/static/img-btc/Statistics/BitcoinAverage.jpg
dist/static/img-btc/Statistics/bitcoincharts.png
dist/static/img-btc/Statistics/Bitcoinity.png
dist/static/img-btc/Statistics/BitcoinPriceMap.png
dist/static/img-btc/Statistics/BitNodes.png
dist/static/img-btc/Statistics/Chain.info.png
dist/static/img-btc/Statistics/Chainalysis.jpg
dist/static/img-btc/Statistics/Coin360.png
dist/static/img-btc/Statistics/Digitalik.png
dist/static/img-btc/Statistics/DSN.png
dist/static/img-btc/Statistics/glassnode.jpg
dist/static/img-btc/Statistics/GoBitcoin.jpg
dist/static/img-btc/Statistics/LookIntoBitcoin.png
dist/static/img-btc/Statistics/Quandl.png
dist/static/img-btc/Statistics/rek.to.png
dist/static/img-btc/Statistics/Rich List.jpg
dist/static/img-btc/Txs/Bitcoin Difficulty Estimator.png
dist/static/img-btc/Txs/Bitcoin Fee Estimates.png
dist/static/img-btc/Txs/Bitcoin Visuals.png
dist/static/img-btc/Txs/btc.moe.png
dist/static/img-btc/Txs/GoBitcoin.jpg
dist/static/img-btc/Txs/howmanyconfs.png
dist/static/img-btc/Txs/Johoe's Bitcoin Mempool Statistics.png
dist/static/img-btc/Txs/Mempool Observer.png
dist/static/img-btc/Txs/Mempool.space.jpeg
dist/static/img-btc/Txs/transactionfee.info.jpeg
dist/static/img-btc/Txs/UTXO Stats.png
dist/static/img-btc/Txs/whatthefee.png
dist/static/img-btc/blog/0xB10C.png
dist/static/img-btc/blog/Beautyon.png
dist/static/img-btc/blog/Bitcoin Tech Talk.png
dist/static/img-btc/blog/Brandon Quittem.jpg
dist/static/img-btc/blog/Chris Burniske.png
dist/static/img-btc/blog/Dan Held.png
dist/static/img-btc/blog/Emin Gün Sirer.jpg
dist/static/img-btc/blog/Eric Wall.jpeg
dist/static/img-btc/blog/Gavin Andresen.jpg
dist/static/img-btc/blog/Gigi.jpg
dist/static/img-btc/blog/Hugo Nguyen.png
dist/static/img-btc/blog/Jimmy Song.jpeg
dist/static/img-btc/blog/Moneyness.gif
dist/static/img-btc/blog/Nicolas Dorier.jpeg
dist/static/img-btc/blog/Peter Todd.jpeg
dist/static/img-btc/blog/Spencer Bogart.jpeg
dist/static/img-btc/blog/This Month In Bitcoin Privacy.jpeg
dist/static/img-btc/blog/truthcoin.jpeg
dist/static/img-btc/blog/Tuur Demeester.jpeg
dist/static/img-btc/blog/Unchained Capital.jpg
dist/static/img-btc/blog/Uncommon Core.jpg
dist/static/img-btc/blog/Wladimir van der Laan.png
dist/static/img-btc/blog/WooBull.png
dist/static/img-btc/developer/BITCOIN DEV KIT.svg
dist/static/img-btc/developer/Bitcoin Edge.jpg
dist/static/img-btc/developer/Bitcoin Forge.svg
dist/static/img-btc/developer/github.png
dist/static/img-btc/explorer/Blockchair.jpg
dist/static/img-btc/explorer/BlockCypher.jpg
dist/static/img-btc/explorer/Blockpath.png
dist/static/img-btc/explorer/Blockstream.info.jpg
dist/static/img-btc/explorer/OXT.jpg
dist/static/img-btc/explorer/SoChain.png
dist/static/img-btc/explorer/TradeBlock.jpg
dist/static/img-btc/explorer/ViaWallet.png
dist/static/img-btc/fork/bch.jpg
dist/static/img-btc/fork/bsv.png
dist/static/img-btc/fork/Find My Coins.svg
dist/static/img-btc/fork/forkdrop.png
dist/static/img-btc/fork/forklol.png
dist/static/img-btc/hot/Bitcoin-Magazine.png
dist/static/img-btc/hot/bitcoin.png
dist/static/img-btc/hot/bitcoinoptech.png
dist/static/img-btc/hot/bitcointalk.png
dist/static/img-btc/hot/bitcore.png
dist/static/img-btc/hot/bitwiki.png
dist/static/img-btc/hot/blockchair.png
dist/static/img-btc/hot/localbitcoin.png
dist/static/img-btc/hot/mempool.png
dist/static/img-btc/hot/redditbitcoin.png
dist/static/img-btc/hot/samourai.png
dist/static/img-btc/hot/satoshiinstitute.png
dist/static/img-btc/hot/stacker.png
dist/static/img-btc/hot/stackernews.png
dist/static/img-btc/lightning/1ml.jpg
dist/static/img-btc/lightning/Blue Wallet.jpg
dist/static/img-btc/lightning/C-simple.jpg
dist/static/img-btc/lightning/Eclair.jpg
dist/static/img-btc/lightning/fulmo.jpg
dist/static/img-btc/lightning/Joule.jpg
dist/static/img-btc/lightning/Lapps.jpg
dist/static/img-btc/lightning/Lightning Labs.png
dist/static/img-btc/lightning/Lightning Network.jpg
dist/static/img-btc/lightning/Lightning-wallet.jpg
dist/static/img-btc/lightning/LNbits.jpg
dist/static/img-btc/lightning/LNCast.jpg
dist/static/img-btc/lightning/Lnchannels.png
dist/static/img-btc/lightning/lnd.info.png
dist/static/img-btc/lightning/LNgames.jpeg
dist/static/img-btc/lightning/masteringlightning.jpeg
dist/static/img-btc/lightning/Mobile LN.jpg
dist/static/img-btc/lightning/satoshis.games.jpg
dist/static/img-btc/lightning/satoshis.place.png
dist/static/img-btc/lightning/ShockWallet.jpg
dist/static/img-btc/lightning/Spark Lightning.jpg
dist/static/img-btc/lightning/Wallet of Satoshi.jpg
dist/static/img-btc/lightning/zap.jpg
dist/static/img-btc/news/BeInCrypto.png
dist/static/img-btc/news/Bitcoin Magazine.jpg
dist/static/img-btc/news/BTC Times.jpg
dist/static/img-btc/news/Coindesk.jpg
dist/static/img-btc/news/CoinTelegraph.jpg
dist/static/img-btc/news/Hodl Hodl News.png
dist/static/img-btc/news/OnChainFX.jpg
dist/static/img-btc/news/sni.png
dist/static/img-btc/news/The Block.jpg
dist/static/img-btc/newsletters/Bitcoin Optech.jpg
dist/static/img-btc/newsletters/Difficulty Adjustment.png
dist/static/img-btc/newsletters/MartyBent.jpeg
dist/static/img-btc/newsletters/Mining &amp; Hashrate.png
dist/static/img-btc/newsletters/newmoney.png
dist/static/img-btc/newsletters/Octonomics.jpg
dist/static/img-btc/newsletters/The Bitcoin Reserve Journal.jpg
dist/static/img-btc/newsletters/The Pomp Letter.png
dist/static/img-btc/newsletters/Unqualified Opinions.jpg
dist/static/img-btc/newsletters/WORDS Bitcoin Journal.jpg
dist/static/img-btc/node/bcoin.png
dist/static/img-btc/node/BitcoinMining.png
dist/static/img-btc/node/blockcore.png
dist/static/img-btc/node/Braiins.jpg
dist/static/img-btc/node/coinwarz.png
dist/static/img-btc/node/hashrateindex.jpg
dist/static/img-btc/node/myNode.jpg
dist/static/img-btc/node/nicehash.jpg
dist/static/img-btc/node/Nodl.jpg
dist/static/img-btc/node/RaspiBolt.png
dist/static/img-btc/node/Ronin Dojo.png
dist/static/img-btc/node/Umbrel.png
dist/static/img-btc/podcasts/Bit-Buy-Bit.webp
dist/static/img-btc/podcasts/Bitcoin & Co..png
dist/static/img-btc/podcasts/Bitcoin and Markets.jpg
dist/static/img-btc/podcasts/Bitcoin Audible.jpg
dist/static/img-btc/podcasts/Bitcoin Echo Chamber.png
dist/static/img-btc/podcasts/Bitcoin Fixes This.jpg
dist/static/img-btc/podcasts/Bitcoin Rapid-Fire.jpg
dist/static/img-btc/podcasts/bitcoin takeover.png
dist/static/img-btc/podcasts/Bitcoins and Gravy.png
dist/static/img-btc/podcasts/Bottomshelf Bitcoin.png
dist/static/img-btc/podcasts/Chaincode.jpg
dist/static/img-btc/podcasts/Citizen Bitcoin.jpg
dist/static/img-btc/podcasts/Crypto Voices.jpg
dist/static/img-btc/podcasts/Fun with Bitcoin Podcast.jpg
dist/static/img-btc/podcasts/Let’s Talk Bitcoin.jpg
dist/static/img-btc/podcasts/Noded Bitcoin Podcast.jpg
dist/static/img-btc/podcasts/Orange Pill.png
dist/static/img-btc/podcasts/simplebitcoin.jpg
dist/static/img-btc/podcasts/Stephan Livera.jpg
dist/static/img-btc/podcasts/Swan Signal.png
dist/static/img-btc/podcasts/Tales from the Crypt.jpg
dist/static/img-btc/podcasts/The Bitcoin Knowledge Podcast.jpg
dist/static/img-btc/podcasts/The Bitcoin Podcast Network.jpg
dist/static/img-btc/podcasts/The BlockCrunch.jpg
dist/static/img-btc/podcasts/The Cryptoconomy.jpg
dist/static/img-btc/podcasts/The Honey Badger Diaries.jpg
dist/static/img-btc/podcasts/The Pomp Podcast.png
dist/static/img-btc/podcasts/Trading Bitcoin.jpg
dist/static/img-btc/podcasts/Unhashed.jpg
dist/static/img-btc/podcasts/Unscrypted.png
dist/static/img-btc/podcasts/Untold Stories.jpg
dist/static/img-btc/podcasts/Untold+Stories+Cover.jpg
dist/static/img-btc/podcasts/WhatBitcoinDid.jpg
dist/static/img-btc/privacy/Cryptonote.png
dist/static/img-btc/privacy/Have I Been Known.png
dist/static/img-btc/privacy/JoinMarket.jpg
dist/static/img-btc/privacy/Know Your Coin Privacy.png
dist/static/img-btc/privacy/NTumbleBit.png
dist/static/img-btc/privacy/TumbleBit.png
dist/static/img-btc/privacy/Whirlpool.png
dist/static/img-btc/sidechain/omni.jpg
dist/static/img-btc/sidechain/rsk.png
dist/static/img-btc/update/1/aqua.png
dist/static/img-btc/update/1/Ark.png
dist/static/img-btc/update/1/Ashigaru.png
dist/static/img-btc/update/1/bitaps.png
dist/static/img-btc/update/1/bitbo.jpg
dist/static/img-btc/update/1/Bitcoin Audible.png
dist/static/img-btc/update/1/bitcoin design.jpg
dist/static/img-btc/update/1/Bitcoin Fundamentals.jpg
dist/static/img-btc/update/1/Bitcoin Review.jpg
dist/static/img-btc/update/1/bitcoinexplorer.jpg
dist/static/img-btc/update/1/bitcoinknots.jpg
dist/static/img-btc/update/1/bitfeed.png
dist/static/img-btc/update/1/bitrefill.png
dist/static/img-btc/update/1/blockchaincom.png
dist/static/img-btc/update/1/blockstream.jpg
dist/static/img-btc/update/1/btcmap.jpg
dist/static/img-btc/update/1/Citadel Dispatch.jpg
dist/static/img-btc/update/1/floresta.png
dist/static/img-btc/update/1/Joinstr New Logo.png
dist/static/img-btc/update/1/LDK.jpg
dist/static/img-btc/update/1/mempool.jpg
dist/static/img-btc/update/1/mempoolobserver.png
dist/static/img-btc/update/1/Mercury Layer.jpg
dist/static/img-btc/update/1/microbolt.png
dist/static/img-btc/update/1/Minibolt.png
dist/static/img-btc/update/1/Ministry of Nodes.png
dist/static/img-btc/update/1/newhedge.jpg
dist/static/img-btc/update/1/payNym.png
dist/static/img-btc/update/1/pdk.png
dist/static/img-btc/update/1/rabbithole.jpg
dist/static/img-btc/update/1/rapid fire.jpg
dist/static/img-btc/update/1/start9.png
dist/static/img-btc/update/1/stratum.jpg
dist/static/img-btc/update/1/txfeeinfo.png
dist/static/img-btc/wallet/2-2.jpg
dist/static/img-btc/wallet/alby.jpg
dist/static/img-btc/wallet/Armory.png
dist/static/img-btc/wallet/bitbox.png
dist/static/img-btc/wallet/Bitcoinknots.png
dist/static/img-btc/wallet/bitkey.jpg
dist/static/img-btc/wallet/Bitpay.jpg
dist/static/img-btc/wallet/Bitpie.jpg
dist/static/img-btc/wallet/Bixin.jpg
dist/static/img-btc/wallet/BLOCKCHAIN.jpg
dist/static/img-btc/wallet/breez.jpg
dist/static/img-btc/wallet/BTC.com.jpg
dist/static/img-btc/wallet/btcpayserver.png
dist/static/img-btc/wallet/c-lightning.jpg
dist/static/img-btc/wallet/Coinomi.jpg
dist/static/img-btc/wallet/ColdCard.jpg
dist/static/img-btc/wallet/Ecash Boardwalk.png
dist/static/img-btc/wallet/eCash logo.png
dist/static/img-btc/wallet/Ecash Mint.png
dist/static/img-btc/wallet/Ecash Voltz.png
dist/static/img-btc/wallet/Edge.jpg
dist/static/img-btc/wallet/Electrum.jpg
dist/static/img-btc/wallet/enut.png
dist/static/img-btc/wallet/Ginger.jpg
dist/static/img-btc/wallet/Green.jpg
dist/static/img-btc/wallet/jade.jpg
dist/static/img-btc/wallet/Jaxx.jpg
dist/static/img-btc/wallet/keeper.jpg
dist/static/img-btc/wallet/keeppay.png
dist/static/img-btc/wallet/keystone.jpg
dist/static/img-btc/wallet/krux.png
dist/static/img-btc/wallet/ledger.jpg
dist/static/img-btc/wallet/liana.jpg
dist/static/img-btc/wallet/lifpay.jpg
dist/static/img-btc/wallet/LND.png
dist/static/img-btc/wallet/minibits.jpg
dist/static/img-btc/wallet/muun.png
dist/static/img-btc/wallet/Mycelium.jpg
dist/static/img-btc/wallet/nunchuk.png
dist/static/img-btc/wallet/Nutstash Clean.png
dist/static/img-btc/wallet/opendime.jpg
dist/static/img-btc/wallet/passport.jpg
dist/static/img-btc/wallet/phoenix.jpg
dist/static/img-btc/wallet/seedsigner.png
dist/static/img-btc/wallet/sparrow.png
dist/static/img-btc/wallet/specter.jpg
dist/static/img-btc/wallet/tapsigner.jpg
dist/static/img-btc/wallet/trezor.png
dist/static/img-btc/wallet/Wasabi.jpg
dist/static/img-btc/wallet/Xapo.png
dist/static/img-btc/wallet/zeus.jpg
