#root {
  width: 100%;
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.MuiBox-root-2 {
  padding: 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.tagContent {
  width: 1042px;
}

.cardItem:hover .cardItem_title {
  color: #ff7828;
}

.cardItem_title {
  display: -webkit-box;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 30px;
  word-break: break-all;
  color: #333;
}
.cardItem_title2 {
  display: -webkit-box;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #333;
  overflow: hidden;
  word-wrap: break-all;
}

.cardItem_desc {
  display: -webkit-box;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  /* text-overflow: ellipsis;
  overflow: hidden; */
  line-height: 30px;
  color: #999;
  word-break: break-all;
}

.item_desc {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  color: #999;
}

.footer {
  background-image: url('./assets/footer_bg.svg');
  background-position: center center;
  background-size: cover;
}

.footer_title {
  color: #fff;
}

.submitBtn {
  width: 160px;
  height: 40px;
  border-radius: 35px !important;
}

.toggleBtnWrap {
  height: 100%;
}

.toggleBtn > svg {
  color: #cfcfcf;
}

.toggleBtn:hover {
  background-color: #ff7828;
}
.toggleBtn:hover > svg {
  color: #fff;
}
.categoryTab .MuiTab-wrapper {
  text-transform: none;
}
.categoryTab:focus {
  outline: none;
}
.MuiTab-wrapper {
  font-weight: 500;
}

.hotItem {
  background-color: white;
  border-radius: 8px;
  height: 92px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .skeletonHotCard,
  .hotCard {
    height: 92px;
  }
  .hotCard > img {
    height: 92px;
    width: 195px;
  }
  .hotCard:hover {
    box-shadow: 0px 8px 32px 0px #cdd3df;
  }

  .toggleBtn {
    width: 48px;
    height: 48px;
    cursor: pointer;
    background-color: #f8f8f8;
  }
}

@media screen and (max-width: 600px) {
  .skeletonHotCard,
  .hotCard {
    height: 78px;
  }
  .hotCard > img {
    height: 100%;
    /* width: 165.31px; */
  }
  .toggleBtn {
    width: 100%;
    height: 48px;
    cursor: pointer;
    background-color: #f8f8f8;
  }
}
